@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 20px auto 0px auto;
    padding: 25px;
    color: #333;
}

h2 {
    margin-top: 20px;
    color: #555;
}

form {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #777;
}

#img-btn {
    margin: 0px auto 30px auto;
    background-color: green;
}

#img-btn:hover {
    background-color: rgb(0, 49, 0);
}


div#img-preview {
    margin: 0px auto 50px auto;
    max-width: 500px;
}

#img-preview img {
    width: 500px;
}

#cancel-edit {
    background-color: tomato;
}

#cancel-edit:hover {
    background-color: rgb(192, 75, 55);
}

input[type="text"],
input[type="url"],

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

#locais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.local {
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 900px;
}

.local img {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.local h2 {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.local p {
    padding: 10px;
    color: #666;
}

.local .btn-local {
    width: 250px;
    margin: auto;
}
.local button {
    margin: 10px;
}


/* menu */

nav {
    background-color: #333; /* Cor de fundo do menu */
    padding: 10px;
}

nav ul {
    list-style: none; /* Remove os marcadores de lista */
    margin: 0;
    padding: 0;
    display: flex; /* Exibe os itens da lista horizontalmente */
}

nav li {
    margin-right: 20px; /* Espaçamento entre os itens */
}

nav a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 5px 10px; /* Espaçamento interno dos links */
}

nav a:hover {
    background-color: #555; /* Cor de fundo dos links ao passar o mouse */
}